<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-1">
                <i class="fa {{icon}} fa-3x"></i>
            </div>
            <div class="col col-xs-12 text-right">
                <div class="d-block huge" style="font-size: 50px">{{count}}</div>
                <div id="myDivFont" class="d-block" style="font-size: 50%">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">Ver Detalhes {{data}}</span>
        <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
</div>

<script>
    //TODO implements
</script>
